.sidebar{
    background-color: black;
    display: inline-block;
    height: 95vh;
    vertical-align: top;
    width: 17%;
}

.home{
    height: 95vh;
    
    vertical-align: top;
    width: 82%;
    display: inline-block;
    background-color: rgb(83, 83, 83);
}

.spotify{
    width: 9vw;
    height: 40px;
   
    
}

.logo{
    padding-left: 41px;
    background-color: black;
    padding-top: 31px;
    padding-bottom: 36px;
    align-content: center;
}

.options{
    color: #b3b3b3;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.options li{
    list-style: none;
}

.option{
    color: gray;
    background-color: black;
    border:none;
    text-align: left;
    height: 38px;
    width: auto;
    font-size: 14px;
    padding-bottom: 52px;
    transition: font-size 0.15s;
}

.option:hover{
    cursor: pointer;
    color: white;
}

.option:active{
    font-size: 13px;
}

.header{
    background-color: #1a1a1a;
    height: 64px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.buttons{
   
    height: 35px;
    border-radius: 28px;
    
}


.control{
    display: flex;
    gap: 16px;
    vertical-align: middle;
    padding-left: 41px;
    justify-content: space-evenly;
}

.control:hover{
    cursor: pointer;
}
body{
    background-color: black;
    min-height:100% ;
}

.song_player{
    min-height: 8vh;
    position: sticky;
    height: 20x px;
    background-color: black;
    bottom: 0px;
    
}

.main{
    width: 100%;
    height: 100%;
}

.lauda{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

#signup{
    
    height: 38px;
    color: grey;
    background: #1a1a1a;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width: 20vh;
    font-weight: bold;
    border:none;
    transition: font-size 0.10s, color 0.10s;
}

#signup:hover{
    cursor:pointer;
    font-size: 17px;
    color: white;
}
.signup{
    padding-bottom: 6px;
    display: inline-block;
    vertical-align: middle;
    
    padding-left: 47px;
}
    
#login{
    height: 38px;
    font-size: 14px;
    font-family: sans-serif ;
 
    font-weight: bold;
    width: 92px;
    border-radius: 26px;
    border:none
}
#login:hover{
    
    cursor:pointer;
    height: 39px;
    width: 93px;
}
.login{
    padding-bottom: 6px;
    padding-left:14px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 32px;
}

.song_player{
    display: flex;
    justify-content: center;
}
#player{
    width: 94vw;
    height: 40px;
    

}

.play_control{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    
    height: 45px;
    
    gap:51px;
}
.play{
    height: 40px;
    display: flex;
    justify-content: space-between;
}



.play:hover{
    height: 42px;
    cursor: pointer;
    
}

.cover_img{
    width: 10vw;
    border: green;
}

.song_card{
    border:5px;
    height: fit-content;
    width: fit-content;
    background-color: #242424;
    border-color: red;
    display: inline-block;
    margin-left: 62px;
    margin-top: 29px;
    padding: 10px 10px;
    border-radius: 13px;
    transition: background-color 0.15s;
}

.info{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.song_card:hover{
    cursor: pointer;
    background-color: #3f3f3f;
    
}
.footer{
    top: 100%;
    position: sticky;
}

.song_car{
    border:5px;
    height: fit-content;
    width: fit-content;
    background-color: #242424;
    border-color: red;
    display: inline-block;
    margin-left: 20px;
    margin-top: 29px;
    padding: 10px 10px;
    border-radius: 13px;
}

p{
    margin:0;
}

.name_of_artist{
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    color: grey;
}

.name_of_artist:hover{
    text-decoration: underline;
}

#practice:hover{
cursor: pointer;
}